@using SchuleManager.Models
@model string
@{
    ViewBag.Title = "Access Rights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">User Access Rights</div>
    <br />
    <p>Select a role and assign rights</p>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                @Html.Label("Roles", new {@class = "control-label manadatory"})
                @Html.DropDownList("RoleId", new SelectList((List<SystemRoles>) ViewData["Roles"], "RoleId", "Description"), "Select", new {@class = "form-control"})
            </div>
        </div>
        <div class="row">
            @using (Html.BeginForm("AccessRights", "SystemSecurity", FormMethod.Post))
            {
                <br/>
                <div id="demoTree">
                </div>
                <br/>
                <div>
                    <input type="submit" value="Submit" id="btnSubmit"/>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    treeModel = @Html.Raw(Model);

    function CheckUsernameExists() {
        var url = '@Url.Content("~/")' + "SystemSecurity/GetModuleTree";
        var source = "#RoleId";
        $.post(url, { roleId: $(source).val() }, function (data) {
            if (data) {
                
            }
        });
    }
</script>
@*<script src="~/scripts/jquery-1.7.1.min.js" type="text/javascript"></script>*@
<script src="@Url.Content("~/scripts/jquery.jstree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/index.js")" type="text/javascript"></script>